body {
background: url(/m/img/bg.png) no-repeat 570px -120px;
margin: 0;
font-family: Verdana;
font-size: 13px;
}
i, em, h1, h2, h3 {
font-family: Georgia;
}
@font-face {
font-family: 'Boblic';
src: url('/m/font/boblic.otf');
}
h1, h2, h3, h4, #toc {
font-family: Boblic;
}
h2 {
font-size: 22px;
color: #0077B3;
}
h3 {
font-size: 19px;
color: #f92672;
}
h4 {

margin-bottom: 10px;
font-size: 17px;
color: #666;
}
.hljs {
padding: 10px 15px !important;
border-radius: 3px;
font-size: 11px;
}
ul li p {
margin: 0;
margin-bottom: 5px;
}
li {
margin-bottom: 7px;
}
ol {
padding-left: 20px;
}
li li {
margin-bottom: 0px;
}
.api li {
margin-bottom: 7px;
list-style: square;
}
.api ul {
margin-left: 0;
padding-left: 20px;
}
li ul {
margin-top: 7px;
margin-left: 0px;
padding-left: 15px;
}
p.important {
background: url(/m/img/important.png) no-repeat 5px 5px;
padding: 10px;
padding-left: 40px;
}
blockquote {
margin: 0px;
width: 85%;
padding: 10px;
padding-left: 40px;
background: #E8DFA9 url(/m/img/quote.png) no-repeat 7px 8px;
border-radius: 5px;
}
blockquote p {
margin: 0px;
}
p.panel {
background: url(/m/img/panel.png) no-repeat 5px 5px;
padding: 5px;
padding-left: 35px;
}
code {
background: #DAFFA3;
}
.api {
margin-top: 7px;
font-size: 11px;
background: #CCEEFF;
padding: 3px 0px 3px 10px;
color: #07415E;
border-top-right-radius: 10px;
}
.api code b {
font-size: 14px;
}
.api code {
background: #AFE1FA;
}
.api .help {
float: right;
margin-right: 3px;
padding: 2px 4px;
background: #56BBED;
color: #fff;
border-radius: 10px;
}
#toc {
font-size: 16px;
float: right;
width: 30%;
border-left: 2px solid #E8DFA9;
padding-left: 20px;
padding-right: 10px;
margin-left: 20px;
background: #fff;
}
#toc ul {
padding: 0;
margin: 0;
}
#toc li {
list-style: none;
margin-bottom: 10px;
}
#toc a, #toc a:hover {
color: #000;
}
#toc > ul > li > a {
font-size: 15px;
color: #ccc;
}
#toc > ul > li {
border-bottom: 1px solid #eee;
padding-bottom: 7px;
margin-bottom: 15px;
}
#toc ul ul a {
color: #0077B3;
}
#toc ul ul ul {
font-size: 14px;
}
#toc ul ul ul a {
color: #f92672;
}
#toc ul ul ul ul a {
color: #777;
}
#toc ul ul ul ul li {
margin-bottom: 5px;
}
#toc ul ul ul ul {
margin-bottom: 5px;
margin-left: 15px;
}
#toc > ul {
margin-top: 10px;
}
#toc ul ul ul {
}
#contents {
max-width: 600px;
padding: 1px 20px;
}
table td {
border-bottom: 1px solid #ccc;
font-size: 12px;
padding: 2px 5px;
}
.console {
border-radius: 3px;
background: #23241f;
padding: 10px 15px;
color: #fff;
font-family: monospace;
margin-top: 5px;
font-size: 11px;
}
.console .help {
background: #23241f;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
padding: 3px 10px;
border: 1px solid #555;
border-top: 0px;
float: right;
margin-top: -10px;
font-size: 10px;
color: #fff;
}
.console .help .cmd {
color: #56BBED;
}


.toHome {
font-size: 12px;
float: right;
margin-right: 20px;
margin-top: 10px;
}